<div class="footer-content">
<p>Copyright {{ now.Year }} Hannah Williams, All rights reserved. | <a href="/impressum">Impressum and Data Policy</a></p>
<div id="contact" class="contact-flex">
    <div class="contact-info">
    <h3>Contact us:</h3>
    <p>Dr. Hannah Williams <br/>
    <a href="mailto:hannah.williams@uni-konstanz.de">hannah.williams@uni-konstanz.de</a><br/>
    Universitätsstraße 10, 78464 Konstanz-Egg</p></div>
    <div class="contact-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253.49932826547186!2d9.186524868287545!3d47.69141116309947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479af7b59ffb2467%3A0xc1ee49129a3d3ed9!2sM5RP%2BCJ%20Verf%C3%BCgungsgeb%C3%A4ude%20Z%2C%20Egg%2C%2078464%20Konstanz!5e1!3m2!1sen!2sde!4v1789551299243!5m2!1sen!2sde" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe></div>
</div>
<div class="support-flex">
    {{ $logos := resources.Match "support/*.{png,jpg}" }}
    {{ range $logos }}
        <img src="{{ .RelPermalink }}" alt="" class="support-logo">
    {{ end }}
</div>
</div>