{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div>
    <h3>{{ $label }}:</h3>
      {{- range . }}
        {{ $page := .RelPermalink }}
          <div class="icon-item">
             {{ with .Params.image }}
                <figure class="icon-image">
                    <img src="{{ $page }}{{ . }}" alt="{{ $.Page.Title }}">
                </figure>
            {{ end }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
      {{- end }}
  </div>
{{- end }}