<div class="stage">
<div class="video-block">
    <video playsinline playbackrate="16" autoplay muted loop id="banner">
            <source src="/video/header.webm" type="video/webm">
            <source src="/video/header.mp4" type="video/mp4">
    </video>
</div>
</div>

<div class="parallax-group">
<div class="svg-slider svg-slider-4" style="background:center/cover no-repeat url('/img/svgMtn4.svg');"></div>
<div class="svg-slider svg-slider-3" style="background:center/cover no-repeat url('/img/svgMtn2.svg');"></div>
<div class="svg-slider svg-slider-2" style="background:center/cover no-repeat url('/img/svgMtn3.svg');"></div>
<div class="svg-slider svg-slider-1" style="background:bottom center/cover no-repeat url('/img/svgMtn1.svg');"></div>
</div>

{{/*  <div class="parallax-group">
<div class="parallax-slider parallax-slider-3"></div>
<div class="parallax-slider parallax-slider-1"></div>
</div>  */}}