  <div class="parallax">
<div class="parallax-group">
<div class="svg-slider image-slider"></div>
<div class="svg-slider svg-slider-4" style="background:center/cover no-repeat url('/img/svgMtn4.svg');"></div>
<div class="svg-slider svg-slider-3" style="background:center/cover no-repeat url('/img/svgMtn2.svg');"></div>
<div class="svg-slider svg-slider-2" style="background:center/cover no-repeat url('/img/svgMtn3.svg');"></div>
<div class="svg-slider svg-slider-1" style="background:bottom center/cover no-repeat url('/img/svgMtn1.svg');"></div>
</div>
  <header>
      <div class="svg-menu">
        <div class="site-logo"><img src="/img/mif-logo.png" alt="MoveinFormation logo"></div>
          {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  </header>