<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  {{ $args := dict
    "page" .
    "scss" "sass/parallax.scss"
    "css" "css/parallax.css"
    }}
  {{ partial "head/custom.html" $args}}
</head>
<body>
  <div class="parallax-menu">
        <div class="site-logo"><img src="../img/mif-logo.png" alt="MoveinFormation logo"></div>
    {{ partial "header.html" . }}
  </div>
  <div class="parallax-header">
  </div>
  <div class="parallax">
    {{partial "parallaxbanner.html" . }}
  <div class="container">
  <header>
    
  </header>
  <div class="content">
      <main>
          <h1>{{ .Title }}</h1>
      <div class="intro-text">
      {{ .Content }}
      </div>
      {{ range .Pages }}
      <div class="focus-item">
      {{- $page := .RelPermalink }}
            {{- with .Params.image -}}
          <figure class="focus-image greyshot">
                <a href="{{ $page }}"></a>
          <img src="{{ $page }}{{ . }}" alt="{{ $.Page.Title }}">
          </a>
        </figure>
        {{- end -}}
        <div class="focus-content">
        <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ .Content }}
          {{/*  {{ range (where .Pages "Section" "projects") }}
        <h4><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ end }}  */}}
      </div>
      </div>
  {{ end }}
  </main>
  </div>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
  </div>
  </div>
  <script type="text/javascript" src="{{ "/js/navigation.js" | relURL }}"></script>
    <script type="text/javascript" src="{{ "/js/video.js" | relURL }}"></script>
</body>
</html>

{{/*  {{define "custom"}}
{{ end }}

{{ define "banner"}}
{{ end }}

{{ define "main" }}
{{ end }}  */}}
