  {{ define "custom"}}
  {{ $args := dict
    "page" .
    "scss" "sass/parallaxU.scss"
    "css" "css/parallaxU.css"
    }}
  {{ partial "head/custom.html" $args}}
  {{ end }}


  {{ define "header"}}
   <div></div>
  {{ end }}

  {{define "banner"}}
  {{ $args := dict
"context" .
"img" "/images/bird3.jpg"
}}
  {{partial "pyr.html" $args }}
  {{end}}

  {{define "main"}}
          <h1>{{ .Title }}</h1>
      <div class="intro-text">
      {{ .Content }}
      </div>
      {{ range .Pages }}
      <div class="focus-item">
      {{- $page := .RelPermalink }}
            {{- with .Params.image -}}
          <figure class="focus-image greyshot">
                <a href="{{ $page }}"></a>
          <img src="{{ $page }}{{ . }}" alt="{{ $.Page.Title }}">
          </a>
        </figure>
        {{- end -}}
        <div class="focus-content">
        <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ .Content }}
          {{/*  {{ range (where .Pages "Section" "projects") }}
        <h4><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ end }}  */}}
          </div>
          </div>
      {{ end }}
{{end }}

