{{ define "main" }}
  <h1>{{ .Title }}</h1>
  Focus page
  {{ .Content }}
  {{ range (where .Pages "Section" "projects") }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Content }}
  {{ end }}
{{ end }}

{{ define "sidebar" }}
  {{ $focus := slice .Data.Term }}
<section class="sidebar">
  <ul>
  {{ range (where .Pages "Section" "people") }}
    {{ $page := .RelPermalink }}
          <li class="icon-item">
             {{ with .Params.image }}
                <figure class="icon-image">
                    <img src="{{ $page }}{{ . }}" alt="{{ $.Page.Title }}">
                </figure>
            {{ end }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
  {{ end }}
  </ul>
  </section>
  <hr/>
<section class="sidebar">
  <ul>
  {{ $relevant := where .Site.Data.papers.papers "foci" "intersect" $focus }}
  {{ range sort $relevant "year" "desc"}}
  <li>{{ .authors }} {{ .year }}. {{ .title }} {{ .publication }}. {{ .issue }}</li>
  {{ end }}
  </ul>
  </section>
  {{ end }}
