  {{ define "custom"}}
  {{ $args := dict
    "page" .
    "scss" "sass/parallaxU.scss"
    "css" "css/parallaxU.css"
    }}
  {{ partial "head/custom.html" $args}}
  {{ end }}


  {{ define "header"}}
   <div></div>
  {{ end }}

  {{define "banner"}}
  {{ $args := dict
"context" .
"img" "/images/bird3.jpg"
}}
  {{partial "parallaxUSVG.html" $args }}
  {{end}}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range (where .Pages "Section" "projects") }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Content }}
  {{ end }}
{{ end }}

{{ define "sidebar" }}
<aside>
  {{ $focus := slice .Data.Term }}
<section class="sidebar">
  <h3>People</h3>
  <ul>
  {{ range (where .Pages "Section" "people") }}
    {{ $page := .RelPermalink }}
          <li class="icon-item">
             {{ with .Params.image }}
                <figure class="icon-image">
                    <img src="{{ $page }}{{ . }}" alt="{{ $.Page.Title }}">
                </figure>
            {{ end }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
  {{ end }}
  </ul>
  </section>
  <hr/>
<section class="sidebar">
  <h3>Relevant papers</h3>
  <ul>
  {{ $relevant := where .Site.Data.papers.papers "foci" "intersect" $focus }}
  {{ range sort $relevant "year" "desc"}}
  <li>{{ .authors }} {{ .year }}. {{ .title }} {{ .publication }}. {{ .issue }}</li>
  {{ end }}
  </ul>
  </section>
  </aside>
  {{ end }}
