html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #222;
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: rgb(48, 59, 71);
}

.parallax {
  display: block;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.stage {
  display: block;
  position: absolute;
  top: 0;
  z-index: -10;
  min-height: 40rem;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  display: block;
  margin: 0 auto;
}

header {
  max-width: 90rem;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  margin: 30rem auto 0;
  background-color: rgb(48, 59, 71);
  line-height: normal;
}

.content {
  max-width: 90rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: rgb(48, 59, 71);
}

main {
  max-width: 100%;
  flex: 1 1 auto;
  padding: 3rem;
}

aside {
  flex: 1 1 0px;
}

.sidebar {
  width: 20rem;
  padding: 2rem;
}
.sidebar ul {
  margin-left: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 50rem) {
  .content {
    display: block;
  }
  .sidebar {
    width: 100%;
  }
}
footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem;
  height: 10rem;
  background-color: rgb(48, 59, 71);
}

body {
  color: #ddd;
}

p {
  font-size: 1.2rem;
  margin: 0 0 2rem 0;
  color: #ddd;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(170, 219, 119);
}

.intro-text {
  font-size: 1.6rem;
}

strong {
  font-weight: 600;
}

i {
  font-style: italic;
}

ul, ol {
  color: #ddd;
  margin-left: 1rem;
}
ul li, ol li {
  margin-bottom: 1rem;
}

@media screen and (max-width: 899px) {
  ul, ol {
    margin-left: 0;
  }
}
a {
  color: rgb(205, 74, 202);
}

a:visited {
  color: rgb(245, 134, 36);
}

.main-navigation {
  font-size: 1rem;
  width: 100%;
  padding-top: 2rem;
}
.main-navigation ul {
  display: none;
  position: relative;
  padding: 1rem 0;
  margin: 0 auto;
  list-style: none;
}
.main-navigation ul ul {
  box-shadow: none;
  background-color: white;
  float: none;
  padding: 0;
  position: relative;
  top: 100%;
  left: auto;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}
.main-navigation ul li {
  position: relative;
  width: 100%;
}
.main-navigation ul li a, .main-navigation ul li a:visited {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgb(228, 209, 87);
}
.main-navigation ul li a:hover {
  color: tomato;
}
.main-navigation ul li a:focus {
  color: tomato;
}

/* Small menu. */
.main-navigation button {
  border-radius: 20px;
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: rgb(205, 74, 202);
  color: white;
  font-size: 1rem;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation button:hover {
  background-color: rgb(228, 209, 87);
  transition: background-color 1s;
}

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 799px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation {
    padding-top: 1rem;
    width: auto;
  }
  .main-navigation ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
    float: left;
    padding: 2rem 0;
    display: block;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
  }
  .main-navigation ul ul ul {
    left: -999em;
    top: 0;
  }
  .main-navigation ul ul li {
    text-align: left;
    padding: 1rem;
  }
  .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
    display: block;
    left: auto;
  }
  .main-navigation ul ul a {
    width: 200px;
  }
  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    left: auto;
  }
  .main-navigation ul li {
    padding-right: 1rem;
    width: auto;
  }
}
.icon-item {
  clear: both;
  min-height: 70px;
}

.icon-image {
  float: left;
  margin: 0 1rem 0 0;
}
.icon-image img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  clip-path: circle();
}

.hang-left {
  float: left;
  max-width: 600px;
  margin: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-left: -10%;
}
.hang-left img {
  width: 100%;
}
.hang-left figcaption {
  color: rgb(205, 74, 202);
}

@media screen and (max-width: 1500px) {
  .hang-left {
    margin-left: 0;
  }
}
@media screen and (max-width: 899px) {
  .hang-left {
    max-width: 100%;
    margin-right: 0;
  }
}
.hero-image {
  display: block;
  min-height: 300px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
.hero-image img {
  width: 100%;
}

.svg-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.video-block {
  width: 100%;
}

video#banner {
  position: relative;
  top: 75%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-25%);
  background: url(poster.jpg) no-repeat;
  background-size: cover;
}
video#banner video {
  width: 100%;
}

video#landing {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(poster.jpg) no-repeat;
  background-size: cover;
}

@media screen and (max-width: 35rem) {
  video#landing {
    position: static;
    width: 100%;
    height: 100%;
    top: auto;
    left: auto;
    transform: none;
  }
}
#controls {
  color: skyblue;
}

.home-blocks {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}
.home-blocks img {
  width: 100%;
}

.home-block {
  height: 300px;
  flex: 1 1 auto;
  background-color: grey;
}

.focus-item {
  display: flex;
}

.focus-image {
  width: 30%;
  margin: 0 1rem 2rem 0;
  flex: 0 0 auto;
}
.focus-image img {
  width: 100%;
}

@media screen and (max-width: 899px) {
  .focus-item {
    display: block;
  }
  .focus-image {
    width: 100%;
    margin: 1rem 0;
  }
}
.people-wrapper {
  clear: both;
  width: 100%;
  display: block;
}

.people-item {
  clear: both;
  display: flex;
  width: 100%;
  min-height: 400px;
}

.people-image {
  flex: 0 0 auto;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.people-headshot {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  corner-shape: bevel;
  border-top-left-radius: 3rem;
}
.people-headshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.greyshot {
  filter: grayscale(100%);
}

.greyshot:hover {
  filter: none;
}

.people-info {
  margin: 0;
  padding: 1rem 2rem;
}

.person-box {
  float: left;
  max-width: 400px;
  margin: 0 1rem 1rem 0;
}

.person-headshot {
  margin: 0;
  width: 100%;
}
.person-headshot img {
  width: 100%;
}

.person-links {
  padding: 1rem 0;
}

@media screen and (max-width: 899px) {
  .people-item {
    display: block;
  }
  .people-image {
    width: 100%;
  }
  .person-box {
    float: none;
    max-width: 100%;
    margin: 1rem 0;
  }
  .person-headshot {
    margin: 0;
    width: 100%;
  }
  .person-headshot img {
    width: 100%;
  }
}
.group-leader {
  background-color: darkmagenta;
}

.phd-candidate {
  background-color: teal;
}

.research-assistant {
  background-color: seagreen;
}

.student-hiwi {
  background-color: darkorchid;
}

.collaborator {
  background-color: goldenrod;
}

.alumnus {
  background-color: cornflowerblue;
}

/*# sourceMappingURL=main.css.map */