body {
  padding: 0;
  display: block;
}

.parallax {
  display: block;
  padding: 0;
  background-color: skyblue;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px; /* <-- This line */
  transform-style: preserve-3d;
  perspective-origin: center;
}

.parallax-menu {
  display: flex;
  padding: 0 2rem;
  justify-content: center;
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
}

.parallax-header {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100px;
  filter: drop-shadow(0px 3px 2px rgba(50, 50, 0, 0.3));
}
.parallax-header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(48, 59, 71);
}

.site-logo {
  display: block;
  margin-right: 1rem;
  width: 180px;
  filter: drop-shadow(0px 3px 2px rgba(50, 50, 0, 0.3));
}
.site-logo img {
  width: 100%;
}

header {
  margin: 0;
  height: 100px;
  background-color: rgb(48, 59, 71);
  clip-path: polygon(0% 12%, 5% 19%, 13% 26%, 19% 32%, 24% 37%, 31% 36%, 37% 37%, 41% 39%, 44% 33%, 47% 29%, 50% 35%, 54% 36%, 58% 36%, 63% 35%, 68% 37%, 75% 33%, 81% 28%, 91% 24%, 100% 19%, 100% 100%, 0% 100%);
}

.parallax-group {
  display: block;
  padding: 0;
  position: relative;
  height: 500px;
  transform-style: preserve-3d;
}

.parallax-slider-wrap {
  filter: drop-shadow(0px -10px 5px rgba(50, 50, 0, 0.5));
}

.parallax-slider {
  display: block;
  margin: 0;
  position: relative;
  transform-style: preserve-3d;
  filter: drop-shadow(0px -3px 2px rgba(50, 50, 0, 0.3));
}

.parallax-slider-4 {
  height: 150px;
  transform: translateY(0px) translateZ(-8px) scale(6);
}
.parallax-slider-4:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(228, 209, 87);
  clip-path: polygon(100% 9%, 100% 100%, 0% 100%, 0% 1%, 8% 4%, 17% 6%, 27% 7%, 38% 18%, 47% 15%, 56% 10%, 65% 7%, 73% 20%, 78% 15%, 85% 3%, 94% 2%);
}

.parallax-slider-3 {
  height: 800px;
  transform: translateY(500px) translateZ(-6px) scale(5);
}
.parallax-slider-3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(170, 219, 119);
  clip-path: polygon(0% 31%, 9% 18%, 11% 22%, 13% 23%, 15% 19%, 16% 14%, 18% 13%, 19% 19%, 21% 21%, 23% 21%, 25% 17%, 26% 23%, 28% 23%, 29% 14%, 30% 11%, 31% 6%, 33% 7%, 34% 11%, 37% 13%, 39% 16%, 41% 13%, 43% 5%, 47% 3%, 49% 9%, 51% 10%, 53% 22%, 55% 17%, 57% 19%, 60% 16%, 63% 21%, 66% 19%, 71% 23%, 79% 26%, 88% 31%, 100% 37%, 100% 100%, 0% 100%);
}

.parallax-slider-2 {
  height: 300px;
  transform: translateY(-600px) translateZ(-4px) scale(4);
}
.parallax-slider-2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: teal;
  clip-path: polygon(0% 33%, 17% 30%, 21% 28%, 27% 28%, 34% 33%, 42% 38%, 53% 31%, 58% 26%, 62% 24%, 67% 30%, 70% 27%, 75% 22%, 80% 19%, 86% 22%, 91% 24%, 100% 27%, 100% 100%, 0% 100%);
}

.parallax-slider-1 {
  height: 300px;
  transform: translateY(-900px) translateZ(-1px) scale(2);
}
.parallax-slider-1:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: purple;
  clip-path: polygon(0% 12%, 5% 19%, 13% 26%, 19% 32%, 24% 37%, 31% 36%, 37% 37%, 41% 39%, 44% 33%, 47% 29%, 50% 35%, 54% 36%, 58% 36%, 63% 35%, 68% 37%, 75% 33%, 81% 28%, 91% 24%, 100% 19%, 100% 100%, 0% 100%);
  content: "";
}

.container {
  max-width: 100%;
  transform: translateZ(0) scale(1);
}

.content {
  background-color: rgb(48, 59, 71);
}

footer {
  background-color: rgb(48, 59, 71);
}

/*# sourceMappingURL=parallax.css.map */