{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ partial "icons.html" (dict "taxonomy" "funding" "page" .) }}
  {{ partial "terms.html" (dict "taxonomy" "foci" "page" .) }}
  {{ partial "icons.html" (dict "taxonomy" "people" "page" .) }}

{{ end }}


{{ define "sidebar" }}
<aside>
  {{ $project := slice .Data.Term }}
<section class="sidebar">
  <h3>People</h3>
  <ul>
  {{ range (where .Pages "Section" "people") }}
    {{ $page := .RelPermalink }}
          <li class="icon-item">
             {{ with .Params.image }}
                <figure class="icon-image">
                    <img src="{{ $page }}{{ . }}" alt="{{ $.Page.Title }}">
                </figure>
            {{ end }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
  {{ end }}
  </ul>
  </section>
  <hr/>
<section class="sidebar">
  <h3>Relevant papers</h3>
  <ul>
  {{ $relevant := where .Site.Data.papers.papers "projects" "intersect" $project }}
  {{ range sort $relevant "year" "desc"}}
  <li>{{ .authors }} {{ .year }}. {{ .title }} {{ .publication }}. {{ .issue }}</li>
  {{ end }}
  </ul>
  </section>
  </aside>
  {{ end }}