  {{ define "custom"}}
  {{ $args := dict
    "page" .
    "scss" "sass/parallaxU.scss"
    "css" "css/parallaxU.css"
    }}
  {{ partial "head/custom.html" $args}}
  {{ end }}


  {{ define "header"}}
   <div></div>
  {{ end }}

  {{define "banner"}}
  {{ $args := dict
"context" .
"img" "/images/clouds.jpg"
}}
  {{partial "blanc.html" $args }}
  {{end}}

{{ define "main" }}
  <h1>Team</h1>
  {{ .Content }}
  <div class="people-wrapper">
  {{ with ($.Site.GetPage "positions") }}
    {{ range .Pages.ByWeight }}
      {{- $group := .File.ContentBaseName }}
          {{ range .Pages.ByTitle }}
          <div class="people-item" >
            {{- $page := .RelPermalink }}
            <div class="people-image {{ $group }}">
             {{- with .Params.image -}}
                <a href="{{ $page }}"><figure class="people-headshot greyshot">
                  <img src="{{ $page }}{{ . }}" alt="{{ $.Page.Title }}">
                </figure></a>
            {{- end -}}
              </div>
            <div class="people-info">
              <a href="{{ .RelPermalink }}"><h2>{{ .LinkTitle }}</h2></a><br/>
              {{- with .Params.positions -}}{{ index . 0 }}{{- end }}
              <p>{{ .Summary }}</p>
              <a href="{{ .RelPermalink }}"><h4>Read More >></h4></a>
            </div>
          </div>
          {{ end }}
    {{ end }}
    </div>
  {{ end }}
  {{/*  <ul>
  {{ with ($.Site.GetPage "positions") }}
    {{ range .Pages.ByWeight }}
      <li class="people-section">{{ .Title }}</li>
      <ul>
          {{ range .Pages }}
          <li class="people-item">
            {{- $page := .RelPermalink }}
             {{- with .Params.image }}
                <figure class="people-headshot">
                    <img src="{{ $page }}{{ . }}" alt="{{ $.Page.Title }}">
                </figure>
            {{- end }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  {{ end }}
</ul>  */}}
  {{/*  <ul>
    {{- range $term, $taxonomy := .Site.Taxonomies.positions.Weighted }}
      <li class="people-section">{{ $term }}</li>
      <ul>
        {{- range $taxonomy.Pages.ByLinkTitle }}
        {{- $page := .RelPermalink }}
          <li class="people-item">
             {{- with .Params.image }}
                <figure class="people-headshot">
                    <img src="{{ $page }}{{ . }}" alt="{{ $.Page.Title }}">
                </figure>
            {{- end }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{- end }}
      </ul>
    {{- end }}
  </ul>  */}}
{{ end }}
