  {{ define "custom"}}
  {{ $args := dict
    "page" .
    "scss" "sass/parallaxU.scss"
    "css" "css/parallaxU.css"
    }}
  {{ partial "head/custom.html" $args}}
  {{ end }}


  {{ define "header"}}
   <div></div>
  {{ end }}

  {{define "banner"}}
  {{ $args := dict
"context" .
"img" "/images/clouds.jpg"
}}
  {{partial "andes.html" $args }}
  {{end}}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
    <div class="person-box">
  {{ with .Params.image }}
  <figure class="person-headshot">
    <img src="{{ . }}" alt="{{ $.Page.Title }}">
  </figure>
  {{ end }}
  <div class="person-links">
    {{ with .Params.email }}<a href='{{ . }}'>{{.}}</a>{{ end }}
    {{ with .Params.website }}<a href='{{ . }}'>{{.}}</a>{{ end }}
    {{ with .Params.scholar }}<a href='{{ . }}'>{{.}}</a>{{ end }}
    {{ with .Params.movebank }}<a href='{{ . }}'>{{.}}</a>{{ end }}
    {{ with .Params.orcid }}<a href='{{ . }}'>{{.}}</a>{{ end }}
  </div>
  </div>
  {{ .Content }}

  {{ $person := slice .Data.Term }}
  {{ $relevant := where .Site.Data.papers.papers "people" "intersect" $person }}
  {{with $relevant}}
  <h3>Relevant papers</h3>
  <ul>
  {{ range sort $relevant "year" "desc"}}
  <li>{{ .authors }} {{ .year }}. {{ .title }} {{ .publication }}. {{ .issue }}</li>
  {{ end }}
  </ul>
  {{end}}
{{ end }}

{{ define "sidebar" }}

{{ if eq .RelPermalink "/people/williams-h/" }}

{{ else }}
<aside>
<section class="sidebar">
{{ range .Pages.GroupBy "Section" "desc" }}
    <h3>{{ .Key }}</h3>
    {{range .Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{end}}
  {{ end }}
  </section>
  {{ end }}
  </aside>
{{ end}}