{{ define "main" }}
  <h1>{{ .Title }}</h1>
    <div class="person-box">
  {{ with .Params.image }}
  <figure class="person-headshot">
    <img src="{{ . }}" alt="{{ $.Page.Title }}">
  </figure>
  {{ end }}
  <div class="person-links">
    {{ with .Params.email }}<a href='{{ . }}'>{{.}}</a>{{ end }}
    {{ with .Params.website }}<a href='{{ . }}'>{{.}}</a>{{ end }}
  </div>
  </div>
  {{ .Content }}
{{ end }}

{{ define "sidebar" }}
{{ if eq .RelPermalink "/people/williams-h/" }}
{{ else }}
<section class="sidebar">
{{ range .Pages.GroupBy "Section" "desc" }}
    <h3>{{ .Key }}</h3>
    {{range .Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{end}}
  {{ end }}
  </section>
  {{ end }}
{{ end}}