@use "variables" as v;

.workshop-poster {
	width: 100%;
	img {
		width: 100%;
	}
}
.icon-item {
        clear: both;
    min-height: 70px;
}
.icon-image {
float: left;
    margin: 0 1rem 0 0;
    img {
		height: 60px;
		width: 60px;
		object-fit: cover;
		clip-path: circle();
    }
}
.hang-left {
	float: left;
	max-width: 600px;
	margin: 0;
	margin-right: 2rem;
	margin-bottom: 2rem;
  	margin-left: -10%;
		img {
			width: 100%;
  }
  figcaption {
	color: v.$mif_purple;
  }
}

@media screen and (max-width: 1500px) {
	.hang-left {
		margin-left: 0;
	}
	
}
@media screen and (max-width: 899px) {
	.hang-left {
		max-width: 100%;
		margin-right:0;
	}
	
}

.pub-fig {
	width: 100px;
}

.hero-image {
	display: block;
	min-height: 300px;
	 margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
		img {
			width: 100%;
  }
}
.svg-banner {
	position: absolute;
	bottom: 0;
	width: 100%;

}

.video-block {
	width: 100%;
}

video#banner {
	 position: relative;
	 top: 75%;
	 left: 50%;
	 min-width: 100%;
	 min-height: 100%;
	 width: auto;
	 height: auto;
	 z-index: -100;
	 transform: translateX(-50%) translateY(-25%);
	 background: url(poster.jpg) no-repeat;
	 background-size: cover;
	 video {
		width: 100%;
	 }
}

video#landing {
	position: fixed;
			 top: 50%;
			 left: 50%;
			 min-width: 100%;
			 min-height: 100%;
			 width: auto;
			 height: auto;
			 z-index: -100;
			 transform: translateX(-50%) translateY(-50%);
			 background: url(poster.jpg) no-repeat;
			 background-size: cover;
}
@media screen and (max-width: v.$mobileWidth) {
	video#landing {
		position: static;
		width: 100%;
		height: 100%;
		top: auto;
		left: auto;
		transform: none;
	}
}

#controls {
    color: skyblue;
}

.img-across {
	margin-top: 2rem;
  margin-bottom: 3rem;
	width: 100%;
	display: grid;
	//justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  video {
    width: 100%;
  }
}
.three-across {
  grid-template-columns: repeat(3, 1fr); 
}
.img-item {
  margin: .5rem;
  max-height: 300px;
  overflow: hidden;
  	img {
      width: 100%;
  	}
  }
@media screen and (max-width: 799px) {
	.img-across {
    //max-height: auto;
		display: block;
	}
}