@use "variables" as v;

body {
    color: #ddd;
}
p {
    font-size: 1.2rem;
    margin: 0 0 2rem 0;
    color: #ddd;
}
.sidebar p {
      font-size: 1rem;
    margin: 0 0 1.4rem 0;
    color: #ddd;  
}

h1,h2,h3,h4,h5,h6 {
    color: v.$mif_lightGrey;
} 
.intro-text {
    font-size: 1.6rem;
}

.intro {
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: v.$mif_green;
        margin-bottom: 2.4rem;
}
@media screen and (max-width: 599px) {
    p, .sidebar p {font-size: .8rem;}
    .intro-text {font-size: 1.2rem;}
    .intro {font-size: 1.6rem;
    line-height: 1.6rem;}
    }

cite {

}

strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

ul, ol {
    color: #ddd;
    margin-left: 1rem;
    li {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 899px) {
    ul, ol {
        margin-left: 0;
    }
}

//typeWriter
#typewriter {
	//border-bottom: 3px solid cyan;
}

.typeCursor {
  border-right: .05em solid v.$mif_yellow;
  animation: caret .8s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}