$standardWidth: 90rem;
$narrowWidth: 50rem;
$mobileWidth: 35rem;

$mif_lightPurple:rgb(223, 135, 221);
$mif_purple:rgb(205, 74, 202);
$mif_darkPurple:rgb(115, 16, 100);
$mif_orange:rgb(245, 134, 36);
$mif_darkOrange:rgb(208, 107, 20);
$mif_green:rgb(170, 219, 119);
$mif_darkGreen:rgb(97, 125, 67);
$mif_yellow:rgb(228, 209, 87);
$mif_lightGrey: hsl(214, 30%, 79%);
$mif_grey:rgba(48, 59, 71, 1);
$mif_darkGrey:rgb(31, 39, 46);