$standardWidth: 90rem;
$narrowWidth: 50rem;
$mobileWidth: 35rem;

$mif_grey:rgb(205, 74, 202);
$mif_purple:rgb(205, 74, 202);
$mif_orange:rgb(245, 134, 36);
$mif_green:rgb(170, 219, 119);
$mif_yellow:rgb(228, 209, 87);
$mif_grey:rgba(48, 59, 71, 1);