//Sass styles
//nav
@use "nav";

$standardWidth: 90rem;
$narrowWidth: 60rem;
$mobileWidth: 40rem;

body {
    color: #222;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 1rem;
    //max-width: 768px;
}

header {
    max-width: $standardWidth;
    margin: 4rem auto 0;
    border-bottom: 1px solid #222;
    margin-bottom: 1rem;
}

.container {
    max-width: $standardWidth;
    margin: 0 auto;
    display: flex;
}

main {
    flex: 1 1 auto;
}

aside {
    flex: 1 1 0px;
}

.sidebar {
    width: 20rem;
}

@media screen and (max-width: $narrowWidth) {
    .container {
    display: block
}
.sidebar {
    width: 100%;
}
}

footer {
    max-width: $standardWidth;
    margin: 0 auto;
    border-top: 1px solid #222;
    margin: 1rem auto 6rem;
}

a {
    color: #00e;
    text-decoration: none;
}

//typography
.intro-text {
    font-size: 1.6rem;
}

//people
.people-wrapper {
    clear: both;
    width: 100%;
	display: grid;
    grid-template-columns: repeat(4, 1fr);
		grid-gap: 2px;
}
@media screen and (max-width: 1200px) {
	.people-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: $narrowWidth) {
	.people-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: $mobileWidth) {
	.people-wrapper {
		grid-template-columns: repeat(1, 1fr);
	}
}
.people-item {
    clear: both;
}
.people-info {
    margin: 0;
    padding: 2rem;
}
.person-box {
    float: left;
    max-width: 300px;
    margin: 0 1rem 1rem 0;
}
.person-links {
    padding: 1rem;
}
.group-leader { background-color: pink;}
.phd-candidate { background-color: teal;}
.research-assistant { background-color: seagreen;}
.student-hiwi { background-color: darkorchid;}
.collaborator { background-color: goldenrod;}
.alumnus { background-color: cornflowerblue;}

//media
.people-headshot {
    margin: 0;
    padding: 0;
    overflow: hidden;
    img {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
.person-headshot {
    margin: 0;
    img {
        width: 100%;
        margin: 0;
    }
}

.icon-item {
        clear: both;
    min-height: 70px;
}
.icon-image {
float: left;
    width: 70px;
    margin: 0 1rem 0 0;
    img {
        width: 100%;
        margin: 0;
    }
}