{{define "custom"}}
{{ $args := dict
"page" .
"scss" "sass/parallax.scss"
"css" "css/parallax.css"
}}
{{ partial "head/custom.html" $args}}
{{ end }}

  {{ define "header"}}
  {{partial "parallaxSVGheader.html" . }}
  {{end}}

  {{define "banner"}}
  {{partial "parallaxvidbanner.html" . }}
  {{end}}

{{ define "main" }}
  {{ .Content }}
  {{/*  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}  */}}
   <div class="home-blocks">
    <div class="home-block"></div>
    <div class="home-block"></div>
    <div class="home-block"></div>
   </div>
{{ end }}
